{% extends 'base.html' %}

{% block title %}Панель ИП{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1>Заглушка: панель ИП</h1>
        <p>Вы вошли как: <strong>{{ username }}</strong></p>
        <p>Роль: <strong>Индивидуальный предприниматель</strong></p>

        <div class="mt-3">
            <a href="{{ url_for('products') }}" class="btn btn-primary">Перейти в раздел товаров</a>
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти</a>
        </div>
    </div>
</div>
{% endblock %}